body {
    margin: 0;
}

.span {
    font-family: fantasy;
}
.menu {
    background-color: black;
    width: 100%;
    height: 120px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stain {
    background-color: darkred;
    border-radius: 20%;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 100px;
}

.icons {
    color: darkred;
    margin-right: 100px;
}

.icons > i {
    font-size: 50px;
    margin: 12px;
}

.back {

}

.high{
    background-color: slategrey;
    width: 100%;
    height: 600px;
}

.low {
    background-color: black;
    width: 100%;
    height: 200px;
}

.ABSOLUTE {
    width: 100%;
    height: 150px;

    position: absolute;
    bottom: 75px;
    display: flex;
    justify-content: space-evenly;
}

.boxie {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: darkred;
}